@page
@{
    ViewData["Title"] = "Playground";
}

<div id="z-modal">
    <div class="modal-content">
        <form>
            <h2>YZCollab</h2>
            <input type="text" name="user" placeholder="Qual seu nome?" maxlength="20" required>
            <button type="button">Entrar</button>
        </form>
    </div>
</div>

<section id="z-container">
    <div id="z-logs">
        <h3>Activities</h3>
        <ul>
        </ul>
    </div>
    <div id="z-users">
        <h4>Users</h4>
        <ul>
        </ul>
    </div>
</section>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("z-modal");
        const userInput = modal.querySelector("input[name='user']");
        const form = modal.querySelector("form");

        form.addEventListener("submit", function (event) {
            event.preventDefault();
        });

        userInput.addEventListener("keydown", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();

                modal.style.display = "none";
                
                app.init(userInput.value);

                return false;
            }
        });

        modal.style.display = "block";        
    });

            // When the user clicks anywhere outside of the modal, close it
            //window.addEventListener("click", (event) => {
            //    if (event.target === modal) {
            //        modal.style.display = "none";
            //    }
            //});

</script>